* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial,Helvetica, sans-serif; }

.nav {
  width: 100%;
  height: 60px;
  background: linear-gradient(#333, #000);
  color: #92a1a6; }
  .nav .nav__nav-items {
    display: flex;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    align-items: center; }
  .nav .nav__nav-items__nav-item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 15px;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    transition: .1s all; }
    .nav .nav__nav-items__nav-item:hover {
      border-top: 4px solid #ff9d01; }
  .nav .nav__nav-items__nav-item.selected {
    border-top: 4px solid #ffb302; }
  .nav .last-nav-item {
    border: none;
    position: absolute;
    right: 15%;
    top: 10px;
    height: 100px; }
    .nav .last-nav-item:hover {
      border: none; }
  .nav .first-nav-item {
    border: none; }
    .nav .first-nav-item:hover {
      border: none; }
  @media only screen and (max-width: 768px) {
    .nav {
      height: unset; }
      .nav .nav__nav-items {
        width: 100%;
        flex-direction: column; }
      .nav .nav__nav-items__nav-item {
        width: 100%;
        justify-content: center !important; }
      .nav .last-nav-item {
        right: 5%;
        top: 16%;
        width: 15%; } }

.hero {
  width: 100%;
  height: 100%;
  background-image: url(../img/home/feature-1-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  transition: .3s all; }
  .hero .hero__jeeps {
    width: 90%;
    position: relative;
    top: 90%; }
    .hero .hero__jeeps img {
      width: 100%; }
  .hero .hero__gallery-items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self: flex-end; }
    .hero .hero__gallery-items .hero__gallery-items__gallery-item {
      width: 310px;
      height: 200px;
      background: white;
      border: 4px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      color: #92a1a6; }
    .hero .hero__gallery-items .hero__gallery-items__gallery-item.hero__gallery__first-item {
      width: 430px; }

footer.footer {
  background: linear-gradient(#222, #111);
  border-top: 2px solid #444;
  width: 100%;
  color: #92a1a6; }
  footer.footer .container {
    display: flex;
    width: 100%;
    justify-content: space-around; }
  footer.footer .container > ul {
    padding: 20px 20px; }
    footer.footer .container > ul .footer__lists__item {
      font-size: 14px;
      padding: 5px; }
    footer.footer .container > ul .footer__lists__item.footer__lists__first-item {
      color: white;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 10px; }
  footer.footer .footer__sub-type {
    color: #505050;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 30px; }
    footer.footer .footer__sub-type > * {
      width: 90%;
      margin: 0 auto;
      font-weight: lighter;
      font-size: 12px;
      line-height: 2;
      padding-bottom: 10px; }
  @media only screen and (max-width: 768px) {
    footer.footer .container {
      justify-content: center;
      margin: 0 auto;
      flex-direction: column;
      align-items: center; } }

.main {
  padding-top: 60px;
  width: 100%;
  height: 715px;
  background-color: black; }

.vehicles-hero {
  position: absolute;
  background-image: url(../img/wrangler/wrangler-main.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0%;
  width: 100%;
  height: 100%; }

.hero-wrapper {
  position: relative;
  margin: 0 120px;
  padding-top: 30px; }
  .hero-wrapper h1 {
    font-family: "montserrat";
    color: white;
    text-shadow: 0 2px 1px black;
    font-size: 2.3em;
    max-width: 375px; }
  .hero-wrapper h3 {
    font-family: "montserrat";
    color: white;
    text-shadow: 0 2px 1px black;
    padding: 30px 0; }
  .hero-wrapper .hero-info {
    max-width: 280px;
    background-color: rgba(0, 0, 0, 0.5); }
    .hero-wrapper .hero-info p {
      color: white;
      font-family: "montserrat";
      font-size: .8em;
      padding: 15px 10px;
      line-height: 1.5; }
  .hero-wrapper .financial {
    width: 100%;
    height: 230px;
    margin-top: 120px;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
  .hero-wrapper .financial-top {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding-bottom: 0; }
    .hero-wrapper .financial-top .promo {
      background-image: url(../img/wrangler/promo-header.png);
      width: 270px;
      height: 80px; }
    .hero-wrapper .financial-top h3 {
      font-family: "montserrat";
      color: black;
      text-shadow: none;
      padding: 0; }
    .hero-wrapper .financial-top h1 {
      color: black;
      text-shadow: none;
      font-weight: 100;
      padding: 5px 0; }
    .hero-wrapper .financial-top p {
      font-size: .8em; }
    .hero-wrapper .financial-top .lease {
      display: flex;
      flex-direction: column; }
    .hero-wrapper .financial-top .lease-text {
      display: flex;
      flex-direction: row; }
    .hero-wrapper .financial-top .lease-text2 {
      display: flex;
      flex-direction: column;
      padding-top: 13px;
      padding-left: 5px; }
  .hero-wrapper .financial-bot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    background-image: url(../img/wrangler/awards-background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 15px; }
    .hero-wrapper .financial-bot .award-icon {
      background-image: url(../img/wrangler/award-icon.png);
      background-size: 100% 100%;
      height: 80px;
      width: 70px;
      margin-right: 50px; }
    .hero-wrapper .financial-bot h2 {
      font-size: 1.2em;
      color: black;
      text-shadow: none;
      padding: 0; }
    .hero-wrapper .financial-bot p {
      font-size: .9em; }
    .hero-wrapper .financial-bot .award-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

/*# sourceMappingURL=main.css.map */
