
@import 'bootstrap-variables.sass';
@import '../vendor/bootstrap/stylesheets/bootstrap.scss';
@import 'mixins';
@import 'home';
@import 'give';
@import 'foundation';
* {
	box-sizing:border-box;
}
@font-face {
    font-family: coke;
    src: url(../fonts/coke.TTF);
}
html, body {
	width:100%;
	height:100%;
	// font-family:Helvetica;
}
img {
	width:100%;
}
a {
	transition:.3s all;
}
a:hover {
	text-decoration: none;
	color: black;
}
.button {
	padding:0;
	padding: 15px 20px;
	background:white;
	border-radius: 5px;
}
.button-container {
	margin-top: 20px;
	text-align:center;
}
.nav {
	a {
		color:$gray;
	}
	z-index:10;
	padding: 5px 0;
	// display:flex;
	// align-items: center;
	background-color:white;
	margin:0;
	color:$gray;

	.nav-options{
		display:flex;
		justify-content:space-around;
		align-items:center;
		transition:.8s all;
		transition-delay: .15s;
		@media (max-width: 500px) {
			display:unset;
			overflow: hidden;
    		height: 72px;

		}
	}
	.nav-options.active  {
		height:200px;
	}
	.img {
		width:20%;
		@media (max-width: 500px) {
			visibility:visible;
			width:50%;
			margin-left:-40px;
			transition:.3s all;
		}
	}
	.logo {
		transition:.8s all;
	}
	.logo.clicked {
			position: absolute;
    		left: 127%;
    		transform: translate(-154%);
	}
	.cola,.donate-link,.foundation {
		transition: .8s all;
		@media (max-width: 500px) {
			position:absolute;
			left:98%;
			transform:translate(-50%);
			width:100%;
			opacity:0;
		}
		&.active {
			opacity:1;
			margin-top:90px;
		}
		
	}
	.cola.active {
		margin-top: 90px;
	}
	.donate-link.active {
		margin-top: 120px;
	}
	.foundation.active {
		margin-top: 150px;
	}
}


footer {
	background-color:$brand-primary;
	color:white;
	text-align:center;
	margin-top: 30px;
	a {
		color:white;
	}
	img {
		width:75%;
		padding-top:10px;
	}
	.row {
		padding-top:20px;
	}
	.footer-sub-menu {
		padding-bottom:30px;
		padding-top:15px;
		a {
			&:after {
				content:'|';
				width: 5px;
				padding-left:5px;
			}
		}
	}

}


















